@font-face {
    font-family: "Noto Sans" , sans-serif;
    src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format('ttf') ,
url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format('ttf');
}




*{
  margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
}

body{
    font-family: "Noto Sans" , sans-serif;
    background: rgba(11, 11, 34, 0.9);
    backdrop-filter: blur(175px);
}
.container {
    width: 1140px;
    margin: auto;
}
/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logos{
    display: flex;
    justify-content: space-around;
}